@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  margin-top: 2.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
}

.header {
  margin: auto;
  background-color: rgb(255, 255, 255);
  opacity: .7;
  width: 80vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}